@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ff4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary)
  --color-card: var(--card);
  --color-outline: var(--outline);
  --font-sans: var(--font-work-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0B0B;
    --foreground: #fff;
    --secondary: #9F9FA9;
    --card: #171717;
    --outline: #212124;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Work Sans";
}
